body{
	font-family: 'Chicle', cursive;
	font-family: 'Indie Flower', cursive;
}

.banner{
	color: white;
}


.banner-item { 
    /* The image used */
    background-image: url("../images/2.jpg");

    /* Set a specific height */
    width: 100%;
    height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: none;
    border: none;
    width: 1000px;
    height: 500px;
    padding-top: 15rem;
    padding-left: 20rem;
}

.card img{
	width: 150px;
	border-radius: 5rem;
	border: 2px solid white;
	float: left;
}

.card h1 {
	width: 700px;
}

