* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background: transparent;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.bg-one{
  width: 100%;
}

.parallax-one {
    /* The image used */
    background-image: url('../images/bg1.png');

    /* Full height */
    height: 700PX; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-two {
    /* The image used */
    background-image: url('../images/bg2.png');

    /* Full height */
    height: 700PX; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
    /* The image used */
    background-image: url('../images/bg3.png');

    /* Full height */
    height: 700PX; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-four {
    /* The image used */
    background-image: url('../images/bg4.png');

    /* Full height */
    height: 700PX; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-info{
    padding-top: 100px;
}

.card{
  display: flex;
  justify-content: center;
  background: rgba(255,255,255,0.5);
}

.my-avatar{
  height: 150px;
}