* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mali', cursive;
  font-family: 'Roboto', sans-serif;
}

.menu-container {
  color: #fff;
  background: transparent;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 60px;
}

.links{
  display: flex;
  justify-content: flex-end;
}

.resume {
  margin-left: 20px;
}

.bg-one{
  width: 100%;
}

.parallax-one {
    background-image: url('../images/bg2.jpg');
    height: 700PX; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-info{
  padding-top: 15rem;
  color: #fff;
}

.my-info .hello-world{
  color: #DC143C;
}

.my-info h1{
  color: #fff;
}
.my-info .designation{
color: #70f4c8;
}

.avatar{
    height: 8rem;
    width: auto;
    border-radius: 5rem;
    border: 2px #fff solid;
}

.more-about-me{
  padding: 10px 30px;
  background: none;
  color: #fff;
  border: 2px #fff solid;
}